@using FormsTagHelper.Models
@model RegisterViewModel

@{
    ViewData["Title"] = "Home Page";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<form asp-controller="Home" asp-action="Index" method="post">
    <div class="form-group">
        <select asp-for="CountryCode" asp-items="Model.CountriesCodes" class="form-control"></select>
        <span asp-validation-for="CountryCode" class="text-danger"></span>
    </div>
    <div class="form-group">
        <select asp-for="Country" asp-items="Model.Countries" class="form-control"></select>
        <span asp-validation-for="Country" class="text-danger"></span>
    </div>
    <br /><button type="submit">Register</button>
</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>